body {
	background-color: #a0a0a0;
}

#map-div {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.map-search {
	margin-left: 16px;
	margin-top: 16px;
	width: 100%;
}

.map-search-min {
	margin-left: 16px;
	margin-top: 16px;
	width: 65%;
}

.map-search-dismiss {
	width: 30%;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important ;
}

.no-side-margins {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important ;
}

.message-good {
	color: #008000;
}

.message-bad {
	color: #800000;
}

.venue {

}

.venue h2 {
	font-size: 16px;
}

#controlUI {
	left: 16px !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 16px;
    background-color: #f7f7f7;
    height: 33%;
    min-height: 270px;
    width: 15%;
    min-width: 250px;
}

#controlUI-min {
	left: 16px !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 16px;
    background-color: #f7f7f7;
    height: 75px;
    min-height: 75px;
    width: 75px;
    min-width: 75px;
}

#textinput {
	margin-left: 0px;
	/* width: 100%; */
}

#selectbox {
	position: absolute;
	bottom: 40px;
	width: 100%;
}

#message-div {
	position: absolute;
	min-height: 15px;
	bottom: 2px;
}

#buttons-div {
	position: absolute;
	min-height: 20px;
	bottom: 20px;
}

#showbutton {
	width: 100%;
	height: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#showimage {
	width: 100%;
	height: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}